<div ng-controller="AutomaticCoffeeController" id="PageItems" class="page" style="background-color: wheat">
    <div style="height:10vh; width: 100%; border-bottom: 1px solid black; position: fixed; background-color: wheat; display:inline-block"
         id="itemsHeader">
        <div style="width:30%; float:left; text-align: center">
            <h4 style="padding:6px; margin:0" ng-model="userName" id="userName">{{userName}}</h4>
        </div>
        <div style="width:30%; float:left; text-align: center">
            <h4 style="padding:6px; margin:0" ng-model="userBalance" id="userBalance">{{(userBalance).toFixed(2)}}</h4>
        </div>
    </div>
    <div style="height:80vh; margin-top: 10vh; width: 100%; text-align: left; display: inline-block">
        <div style="height:80vh; width: 50%;  float: left; text-align: center;">
            <h4 style="padding:6px; margin:0">Available items from Coffee machine </h4>
            <div class="tablecontainer">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th style="text-align: center">Name</th>
                        <th style="text-align: center">Price</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="u in machineItems">
                        <td><span>{{u.name}}</span></td>
                        <td><span>{{(u.price).toFixed(2)}}</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div style="height:80vh; width: 50%; float:left; text-align: center; border-left: 2px solid silver">
            <h4></h4>
            <h4 style="padding:6px; margin:0">Order Status:</h4>
            <div class="tablecontainer">
                '
                <div class="loader"></div>
                <h4>{{loaderMessage}}</h4>
            </div>
        </div>
    </div>
    <div style="height:10vh;  width: 100%;  position: fixed; background-color: wheat;">
        <div style="width:30%; text-align: center">
            <input type="button" class="btn btn-default" style="width: 180px" ng-click="Cancel()"
                   value="Cancel">
        </div>
        <div style="width:30%; float:right; text-align: center">
            <input type="button" class="btn btn-default" style="width: 180px" ng-click="ManualBuyMode()"
                   value="Manual buy mode">
        </div>
    </div>
</div>
</div>

