 <div id="PageCreateUser" ng-controller="CreateUserController" class="page" style="background-color: wheat">
        <div style="height:10%; width: 100%; text-align: center; display:table">
            <h1 style="display: table-cell; vertical-align: middle; color:burlywood; font-size: 20px">Please fill the form and click Create User button</h1>
        </div>
        <div style="height:80%; width: 100%; text-align: center; float:center; display: table">
            <form style="width:400px; height:200px; float: center; text-align: center;" name="createUserForm">
                <div class="form-group" ng-class="{'has-error':createUserForm.user_name.$invalid && createUserForm.user_name.$dirty}">
                <label for="user_name"> Name : </label>
                <input type="text" ng-model="user_name" id="user_name" placeholder="Your name..." required/>
                </div>
                <div class="form-group" ng-class="{'has-error':createUserForm.user_email.$invalid && createUserForm.user_email.$dirty}">
                <label for="user_email"> Email : </label>
                <input type="email" ng-model="user_email" id="user_email" placeholder="Your email..." required/>
                <span ng-show="createUserForm.user_email.$error.email">Not a valid e-mail address</span>
                </div>
                <div class="form-group" ng-class="{'has-error':createUserForm.user_card_name.$invalid && createUserForm.user_card_name.$dirty}">
                <label for="user_card_name"> Card Name: </label>
                <input type="text" ng-model="user_card_name" id="user_card_name" placeholder="Card name ..." required/>
                </div>
                <input type="button" class="btn btn-success" style="float:left; width:170px"  value="Create User" ng-disabled="createUser.$invalid" ng-click = "createUser()"/>
                <input type="button" class="btn btn-default" style="float: left; width:170px" value="Cancel" ng-click = "cancel()" />
                <br>
                <div class="alert alert-info margin-top-5" ng-show="message">{{message}}</div>

            </form>
            
        </div>
    </div>