<div ng-controller="EmailSentController" id="PageEmailSent" class="page">
    <div style="height:80%; width: 100%; display: table; text-align: center; background-color: wheat">
        <h1 id="emailSent" style="display: table-cell; vertical-align: middle; color:burlywood; font-size: 32px"></h1>
    </div>
    <div style="height:20%; width: 100%; text-align: center; background-color: wheat">
        <button id="closeEmailSent" style="font-size: 24px" ng-click = "close()">Close</button>
    </div>
</div>