 <div id="PageItems" class="page" style="background-color: wheat">
        <div style="height:100%; width: 100%; background-color: wheat">
            <div style="height:9%; width: 100%; border-bottom: 1px solid black" id="itemsHeader">
                <div style="width:30%; float:left; text-align: center">
                    <h4 style="padding:6px; margin:0" id="userName"></h4>
                </div>
                <div style="width:30%; float:left; text-align: center">
                    <h4 style="padding:6px; margin:0" id="userBalance"></h4>
                </div>
                <div style="width:30%; float:left; text-align: center"><button style="padding:3px; margin-top:6px" id="userPurchases">Check all purchases</button></div>
            </div>
            <div style="height:91%; width: 50%; float: left; text-align: center">
                <h4 style="padding:6px; margin:0">Please choose items: </h4>
                <div id="items"></div>
            </div>
            <div style="height:91%; width: 50%; float:left; text-align: center">
                <h4 style="padding:6px; margin:0">Your order: </h4>
                <div id="purchase"></div>
                <button id="btnBuy">Buy</button>
            </div>
        </div>
    </div>